<html>
    <head>
        <title>Sinatra Views Lab II - Hello</title>
    </head>
    <body>
        "<h1>Hello World/h1>"
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>